/*PADROES******************/
/*COLORS */
$darkGrey: #787777;
//

$lightPink: #f7a2a6;
//$lightPink: #ffc5bb;


$whiter: rgba(245,245,245);
//$darkBlue: rgba(3,41,115,1);
//$darkBlue:#2b14af;
$darkBlue:#032973;

/*Sizes*/
$sizeH1:4em;
$sizeH1Cellphone: 5vh;
$sizeH2:1.5em;
$sizeH2Cellphone:2.6vh;
$sizeP:1em;
$sizePCellphone:2.6vh;
$sizeH3: 1.3em;
$lineHeightP: 2em;
$lineHeightPCellphone: 4vh;


/*Fonts*/
@font-face {
  font-family: 'chap-medium';
  src: url('../../Fonts/Chap-Medium.otf');
  font-weight: lighter;
  font-style: normal;
}
$Chap:'chap-medium';



@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap);

$open-sans: 'Open Sans', sans-serif;


/**BREACKPOINTS*/
$breakpoint-tablet: 770px;
$breakpoint-cellphone:576px;
$breakpoint-Large-devices:950px;
$breakpoint-Extra-devices:1200px;

/*PADROES******************/




.ItemGallery{
  margin-bottom: 5em !important;

  .imgLeft{
   

    @media (max-width: $breakpoint-Large-devices) {
      display: none;
    }
  
    
  }

  .imgRight{
    
    margin:0 auto;

    @media (min-width: $breakpoint-Large-devices) {
      display: none !important;
      
    }
  }

  img{
   
    
    -webkit-box-shadow: 0 15px 20px rgba(43, 20, 175, 0.2);
    -moz-box-shadow: 0 15px 20px rgba(43, 20, 175, 0.2);
    box-shadow: 0 15px 20px rgba(43, 20, 175, 0.2);
    transition: all 0.5s;
    cursor: pointer;
    
    &:hover{
      transform: scale(1.02);

    }

    @media (max-width: $breakpoint-cellphone) {
      width: 80vw;
    }
  
    @media (max-width:  $breakpoint-Large-devices) and (min-width: $breakpoint-cellphone+1) {
      width: 60vw;
    }

    @media (min-width:  $breakpoint-Large-devices+1) and (max-width:  $breakpoint-Extra-devices)  {
      width: 38vw;
    }

    @media (min-width:$breakpoint-Extra-devices+1){
      width: 30vw;
    }

    
    
  }

  h1{
    color:$lightPink;
    font-size: $sizeH1;
    font-family: $Chap;
    font-weight: 200;
    margin: 0 0;
    transition: all 0.5s;
    cursor: pointer;

    &:hover{
      transform: scale(1.03);
    }

    @media (max-width: $breakpoint-cellphone) {
      font-size: $sizeH1Cellphone;
    }
   
  }

  h3{
    color:$lightPink;
    font-size: $sizeH3;
    font-family: $Chap;
    font-weight: 300;
  }

  p{
    color:$darkGrey;
    font-size:$sizeP;
    line-height: $lineHeightP;
    font-family: $open-sans;
    font-weight: 300;

    
    @media (max-width: $breakpoint-cellphone) {
      font-size: $sizePCellphone;
      //margin-bottom: 3em;
      line-height: $lineHeightPCellphone;
    }

  }
}