/*PADROES******************/
/*COLORS */
$darkGrey: #787777;
//$lightPink: #f7a2a6;
$lightPink: #ffc5bb;


$whiter: rgba(245,245,245);
//$darkBlue: rgba(3,41,115,1);
$darkBlue:#2b14af;

/*Sizes*/
$sizeH1:4em;
$sizeH1Cellphone: 5vh;
$sizeH2:1.5em;
$sizeH2Cellphone:2.6vh;
$sizeP:1em;
$sizeH3: 1.3em;
$lineHeightP: 2em;
$lineHeightPCellphone: 4vh;


/*Fonts*/
@font-face {
  font-family: 'chap-medium';
  src: url('../../Fonts/Chap-Medium.otf');
  font-weight: lighter;
  font-style: normal;
}
$Chap:'chap-medium';

@font-face {
  font-family: 'chap-medium';
  src: url('../../Fonts/Chap-Bold.otf');
  font-weight: normal;
  font-style: normal;
}

$ChapMedium:'chap-medium';

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap);

$open-sans: 'Open Sans', sans-serif;


/**BREACKPOINTS*/
$breakpoint-tablet: 768px;
$breakpoint-cellphone:610px;

/*PADROES******************/




.ItemGallery{
  padding-bottom: 2em;

  img{
    width: 30vw;
    border-radius:0.5em;
    -webkit-box-shadow: 0 15px 20px rgba(43, 20, 175, 0.2);
    -moz-box-shadow: 0 15px 20px rgba(43, 20, 175, 0.2);
    box-shadow: 0 15px 20px rgba(43, 20, 175, 0.2);
    transition: all 0.5s;
    cursor: pointer;
    
    &:hover{
      transform: scale(1.02);

    }
  }

  h1{
    color:$lightPink;
    font-size: $sizeH1;
    font-family: $Chap;
    font-weight: 200;
    letter-spacing: 2px;
    margin: 1em 0;
    transition: all 0.5s;

    &:hover{
      transform: scale(1.03);
    }
  }

  p{
    letter-spacing: 2px;
    color:$darkGrey;
    font-size:$sizeP;
    line-height: $lineHeightP;
    font-family: $open-sans;
    font-weight: 300;

    
    @media (max-width: $breakpoint-cellphone) {
      font-size: $sizeH2Cellphone;
      //margin-bottom: 3em;
      line-height: $lineHeightPCellphone;
    }

  }
}