

/* ========================= Layout =======================*/


html, body, .head{
	height: 100%;
	overflow: auto;
	text-decoration:none;
	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch;

}

body {
	position: relative;
	overflow-x: hidden; /*excluir a barra de navegação em x*/


}




/* ------- Barra de Navegação  ------------ */


nav{
	position: relative;
	/*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);*/
	border-radius: 2px;

	
}



.menu-fixo{
	width:100%;
	background: red;
	color:transparent;
}

.menu-fixo .menu-mov{
	background: green;
	color:#787777;
}


.minha_brand {
	display: block;
	font-family: 'chap-medium';
	font-size: 30px;
	color:#f7a2a6;
}

.minha_brand_tamanho{
	display: block;
	font-family: 'chap-medium';
	font-size: 30px;
	color:#f7a2a6;

}

.textonavegacao li a{
	color:#787777;
	margin:0px 20px 0px 20px;
	/*font-size: 19px;*/
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	display:block;
	padding: 15px;
	font-weight: 800;
	position: relative;
  
}

.textonavegacao li a,
.textonavegacao li a::after{
	transition: all 0.5s;
	-webkit-transition: 0.5s; /* Safari prior 6.1 */

}


.textonavegacao li a:hover{
  	color:#f7a2a6;
}




.textonavegacao li a::after{
position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #f7a2a6;
  height: 2px;

}

.textonavegacao li a:hover::after{
	width: 100%;
}



/* ---------------- HOME  ------------ */

.home{
	display: table;
	width: 100%;
	color:#232227;
	padding: 95px 0px 50px 0px;
	text-align: right;
	background-color: white;
	
}


.texto-capa{
	
	display: table-cell;
	text-align: right;
}

.home h1{
	letter-spacing: 2px;
	font-family: 'chap-medium';
	color:#f7a2a6;
	text-align: right;
}

.home h2{
	letter-spacing: 2px;
	font-family: 'Open Sans', sans-serif;
	color:#424242;
	text-align: right;
}


@media screen and (max-width: 767px) {

	.texto-capa{
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.img-home{
		max-width:60%;
		height:auto;
	}

	.home{
		padding: 70px 0px 50px 0px;
	}

	.home h1{
		font-size: 45px;
	}

	.home h2{
		font-size: 15px;
		line-height: 150%;
	}

}

@media screen and (min-width: 768px) {

	.texto-capa{
		padding-top: 100px;
	}

	.img-home{
		max-width:100%;
		height:auto;
	}

	.home{
		padding: 95px 0px 50px 0px;
	}

	.home h1{
	font-size: 73px;
	}

	.home h2{
		font-size: 19px;
		line-height: 150%;
	}

}




/*--------------------ABOUT-----------*/

.courses{
	background-color: rgba(3,41,115,1);
	padding: 50px 0px 50px 0px;
	
}

.imgabout1{
	/*display: relative;*/
	margin-bottom: 50px;
	-webkit-animation-name: imgabout1;
	 -webkit-animation-duration: 3s;
	animation-delay: 1.5s;
    animation-name: imgabout1;
    animation-duration: 3s;
    transition-timing-function: ease-in-out;
	
}


@-webkit-keyframes imgabout1{
	to  {left:0px;}
	from   {left:300px;}
 
}

@keyframes imgabout1 {
 	to  {left:0px;}
	from   {left:300px;}

}

.textoabout{
	text-align: left;
}


.textoabout h1 {
	display: block;
	color:#f7a2a6;
	font-family: 'chap-medium';
	padding: 30px 0px 30px 0px;
}

.textoabout h2{
	font-family: 'Open Sans', sans-serif;
	line-height: 150%;
	color:#ffff;
}

.textoabout h2>span {
	font-family: 'Open Sans', sans-serif;
	color:#f7a2a6;
}

.textoabout p{
	font-family: 'Open Sans', sans-serif;
	line-height: 150%;
	font-size: 19px;
	color:#ffff;
	padding-bottom: 20px;
	
}

.textoabout p>a{
	text-decoration: none;
	color:#f7a2a6;

}

.textoabout h3{
	font-family: 'Open Sans', sans-serif;
	line-height: 150%;
	font-size: 19px;
	color:#f7a2a6;
	text-transform: uppercase;
}

@media screen and (min-width: 768px) {

	.textoabout h1 {
		font-size: 48px;
	}

	.textoabout h2{
		font-size: 19px;
	}

	.textoabout h2>span {
		font-size: 19px;
	}

	.textoabout p{
		font-size: 19px;
	}

	.imagem{
		max-width: 120%;
		height: auto;
	}
}

@media screen and (max-width: 767px) {

	.textoabout h1 {
		font-size: 35px;
	}

	.textoabout h2{
		font-size: 15px;
	}

	.textoabout h2>span {
		font-size: 15px;
	}

	.textoabout p{
		font-size: 15px;
	}

	.imagem{
		max-width: 60%;
		height: auto;
	}
}


/*--------------------FAQ-----------*/

.faq{
	background-color: white;
	padding: 50px 0px 70px 0px;
}


.faq h2{
	color:#f7a2a6;
	font-family: 'chap-medium';
	font-size: 30px;
	text-decoration: none;
	text-align: left;
}

.faq p{
	font-family: 'Open Sans', sans-serif;
	color:#424242;
	line-height: 150%;
	font-size: 16px;
}

.faq img{
	text-decoration: none;
	color:#f7a2a6;
}

.link-faq{
	text-decoration: none;
	color:#f7a2a6;
	
}

.btn_plus {
	color:#424242;
	font-size: 16px;
	text-decoration: none;

}




/*--------------------CONTACT ME-----------*/

.contactme{
	background-color: rgb(3,41,115);
	text-align: center;
	text-decoration: none;
	color:rgb(11,224,176);
	
}

.texto-contactme>h1{
	color:white;
	font-family: 'chap-medium';
}


.texto-contactme>a {
	text-decoration: none;
	color:#f7a2a6;

}

.texto-contactme>h3{
	color:white;
	font-family: 'chap-medium';

}

.texto-contactme>p{
	color:white;
	font-weight: normal;
	font-family: 'Open Sans', sans-serif;
}


.socialmedia>h4{
	display: inline-block;
	margin: 0px 20px 20px 20px;
	text-decoration: none;
	color:#f7a2a6;
	font-size: 40px;
}

.btn_site{
	background: rgb(3,41,115);
	color:#f7a2a6;
	font-family: 'Open Sans', sans-serif;
	transition-duration: 0.5s;
}

.btn_site:hover{
	background: rgb(3,41,115);
	color:white;
	font-family: 'Open Sans', sans-serif;
	transition-duration: 0.5s;
}




@media screen and (max-width: 767px) {

	.contactme{
	padding: 30px 0px 50px 0px;
	text-decoration: none;	
	}

	.texto-contactme>h1{
		font-size: 35px;
	}


	.texto-contactme>a {
		font-size: 12px;

	}

	.texto-contactme>h3{
		font-size: 40px;
		margin-top: 10px;
		margin-bottom: 20px;

	}

	.texto-contactme>p{
		font-size: 15px;
		margin-block-start: 1em;
	    margin-block-end: 1em;
	    margin-inline-start: 0px;
	    margin-inline-end: 0px;
	}


	.socialmedia>a{
		margin: 0px 20px 20px 20px;
		font-size: 35px;
		
	}


}


@media screen and (min-width: 768px) {
	.contactme{
		padding: 50px 0px 50px 0px;
		text-decoration: none;
	}

	.texto-contactme>h1{
		font-size: 49px;
	}


	.texto-contactme>a {
		text-decoration: none;
		font-size: 16px;

	}

	.texto-contactme>h3{
		font-size: 40px;
		margin-top: 10px;
		margin-bottom: 30px;

	}

	.texto-contactme>p{
		font-size: 18px;
		font-weight: normal;
		margin-block-start: 1em;
	    margin-block-end: 1em;
	    margin-inline-start: 0px;
	    margin-inline-end: 0px;
	}


	.socialmedia>a{
		display: inline-block;
		margin: 0px 20px 20px 20px;
		text-decoration: none;
		font-size: 40px;
		
	}


}






/*--------------PROJECTS ------------*/
#projects{
	background-color: white;
	color:#787777;
	padding: 2.5em 0;
	
}
.img-div{
	width: 20em;
	height: 20em;
	
}

#projects img{
	transition: transform .5s;
	max-width: 15em;
}

#projects h3{
	font-size: 20px;
	color:#f7a2a6;
	font-family: 'chap-medium';
}

#projects p{
	color:#787777;
	font-family: 'Open Sans', sans-serif;

}

#projects img:hover{
	transform: scale(1.05);
	cursor: pointer;
	
}





