/*PADROES******************/
/*COLORS */
$darkGrey: #787777;
//$lightPink: #f7a2a6;
$lightPink: #ffc5bb;


$whiter: rgba(245,245,245);
//$darkBlue: rgba(3,41,115,1);
$darkBlue:#2b14af;

/*Sizes*/
$sizeH1:4em;
$sizeH1Cellphone: 5vh;
$sizeH2:1.5em;
$sizeH2Cellphone:2.6vh;
$sizeP:1em;
$sizeH3: 1.3em;
$lineHeightP: 2em;
$lineHeightPCellphone: 4vh;

/*Border Radius*/
$radius: 100px;


/*Fonts*/
@font-face {
  font-family: 'chap-medium';
  src: url('../../Fonts/Chap-Medium.otf');
  font-weight: lighter;
  font-style: normal;
}
$Chap:'chap-medium';



@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap);

$open-sans: 'Open Sans', sans-serif;


/**BREACKPOINTS*/
$breakpoint-tablet: 768px;
$breakpoint-cellphone:610px;

/*PADROES******************/


.Section02{
  background-color: $darkBlue;
  color: $whiter;
  border-top-right-radius: $radius;
  border-bottom-left-radius: $radius;

  h1{
    color:$lightPink;
    font-size: $sizeH1;
    font-family: $Chap;
    font-weight: 200;
    letter-spacing: 2px;
    margin: 1em 0;
    transition: all 0.5s;

    &:hover{
      transform: scale(1.03);
    }
  }

  h2{
    letter-spacing: 2px;
    font-size:$sizeH2;
    line-height: $lineHeightP;
    font-family: $Chap;
    font-weight: 300;
  }

  p{
    font-size: $sizeP;
    line-height: $lineHeightP;
    font-family: $open-sans;
    font-weight: 300;
  }

  ul{
    border-left: 3px solid $lightPink;
    list-style-type: none;
    li{
      font-size: $sizeP;
      font-family: $open-sans;
      font-weight: 300;
      line-height: $lineHeightP;
    }
  }

  h3{
    font-size: $sizeH3;
    color: $lightPink;
    font-family: $Chap;
  }
  .Section02__img{
    img{
      @media (max-width: $breakpoint-cellphone) {
        display:none;
      }
    }
    
  }
  

}