/*PADROES******************/
/*COLORS */
$darkGrey: #787777;
//$lightPink: #f7a2a6;
$lightPink: #ffc5bb;
$whiter: rgba(245,245,245);
//$darkBlue: rgba(3,41,115,1);
$darkBlue:#2b14af;


.section01{
  background-color: $darkBlue;
}

.section02{
  background-color: $whiter;
}