/*PADROES******************/
/*COLORS */
$darkGrey: #787777;
$lightPink: #f7a2a6;
//$lightPink: #ffc5bb;


$whiter: rgba(245,245,245);
//$darkBlue: rgba(3,41,115,1);
//$darkBlue:#2b14af;
$darkBlue:#032973;

/*Sizes*/
$sizeH1:4em;
$sizeH1Cellphone: 5vh;
$sizeH2:1.8em;
$sizeH2Cellphone:2.6vh;
$sizeP:1em;
$sizeH3: 1.3em;
$lineHeightP: 2em;
$lineHeightPCellphone: 4vh;



/*Fonts*/
@font-face {
  font-family: 'chap-medium';
  src: url('../../Fonts/Chap-Medium.otf');
  font-weight: lighter;
  font-style: normal;
}
$Chap:'chap-medium';



@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap);

$open-sans: 'Open Sans', sans-serif;


/**BREACKPOINTS*/
$breakpoint-tablet: 768px;
$breakpoint-cellphone:610px;

/*PADROES******************/

.Card{
  border: none !important;


  .Card__Title{
    background-color: $whiter !important;
    color: $darkGrey;
    font-family: $Chap;
    font-size: $sizeH2;
    cursor: pointer;
    border: none !important;
    height: auto;
    padding: 0.7em 0;

    .Card__Title-icon{
      color:$lightPink;
      font-size: $sizeH2;
      transition: all 0.5s;
      border: none !important;

      &:hover{
        transform: scale(1.1);
      }

      @media (max-width: $breakpoint-cellphone) {
       
       // font-size: 15px;
      }

      
    }
  }

  .Card__Body{
    color:$darkGrey;
    font-family: $open-sans;
    font-size: $sizeP;
    background-color: $whiter !important;
    border: 2px solid $whiter !important;
    padding: 2em 0;
  }

}