/*PADROES******************/
/*COLORS */
$darkGrey: #787777;
//$lightPink: #f7a2a6;
$lightPink: #ffc5bb;


$whiter: rgba(245,245,245);
//$darkBlue: rgba(3,41,115,1);
//$darkBlue:#2b14af;
$darkBlue:#032973;

/*Sizes*/
$sizeH1:4em;
$sizeH1Cellphone: 5vh;
$sizeH2:2.5em;
$sizeH2Cellphone:2.6vh;
$sizeP:1em;
$sizePCellphone:2.6vh;
$sizeH3: 2em;
$sizeH3Cellphone:1em;
$lineHeightP: 2em;
$lineHeightPCellphone: 3vh;




/*Fonts*/
@font-face {
  font-family: 'chap-medium';
  src: url('../../Fonts/Chap-Medium.otf');
  font-weight: lighter;
  font-style: normal;
}
$Chap:'chap-medium';



@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap);

$open-sans: 'Open Sans', sans-serif;


/**BREACKPOINTS*/
$breakpoint-tablet: 768px;
$breakpoint-cellphone:610px;

/*PADROES******************/

.Footer{
  background-color: $darkBlue;
  color: $darkGrey;

  h1{
    color:$whiter;
    font-size: $sizeH1;
    font-family: $Chap;
    font-weight: 200;
    transition: all 0.5s;
    //padding-bottom: 1em;

    &:hover{
      transform: scale(1.03);
    }

    @media (max-width: $breakpoint-cellphone) {
      font-size: $sizeH1Cellphone;
    }
  }

  h2{
    color:$whiter;
    font-family: $Chap;
    font-size: $sizeH2;

    @media (max-width: $breakpoint-cellphone) {
      font-size: $sizeH3Cellphone;
    }
  }

  .SocialMedia{
    
    .SocialMedia__icon{
      font-size: $sizeH3;
      transition: all 0.5s;
      color: $lightPink;

      &:hover{
        transform: scale(1.03);
        color:$whiter;
      }
    }
  }

  p{
    font-family: $open-sans;
    font-size: $sizeP;

    @media (max-width: $breakpoint-cellphone) {
      font-size: $sizePCellphone !important;
    }
  }
}