/*PADROES******************/
/*COLORS */
$darkGrey: #787777;
//$lightPink: #f7a2a6;
$lightPink: #ffc5bb;


$whiter: rgba(245,245,245);
//$darkBlue: rgba(3,41,115,1);
$darkBlue:#2b14af;

/*Sizes*/
$sizeH1:4em;
$sizeH1Cellphone: 5vh;
$sizeH2:1.5em;
$sizeH2Cellphone:2.6vh;
$sizeP:1em;
$sizeH3: 1.3em;
$lineHeightP: 2em;
$lineHeightPCellphone: 4vh;

/*Border Radius*/
$radius: 100px;


/*Fonts*/
@font-face {
  font-family: 'chap-medium';
  src: url('../../Fonts/Chap-Medium.otf');
  font-weight: lighter;
  font-style: normal;
}
$Chap:'chap-medium';

@font-face {
  font-family: 'chap-medium';
  src: url('../../Fonts/Chap-Bold.otf');
  font-weight: normal;
  font-style: normal;
}

$ChapMedium:'chap-medium';

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap);

$open-sans: 'Open Sans', sans-serif;


/**BREACKPOINTS*/
$breakpoint-tablet: 768px;
$breakpoint-cellphone:610px;

/*PADROES******************/